<form method="post" action="<%= url %>" target="_top">
	<% for (var key in data) { %>
		<% if (data[key].isEditable) { %>
			<p class="paypal-group">
				<label for="<%= key %>" class="paypal-label"><%= content[data[key].key] || data[key].key %></label>
				<input type="text" id="<%= key %>" name="<%= key %>" value="<%= data[key].value %>" class="paypal-input" />
			</p>
		<% } else { %>
			<input type="hidden" name="<%= key %>" value="<%= data[key].value %>" />
		<% } %>
	<% } %>

	<%- button %>
</form>



<p class="paypal-group">
	<label class="paypal-label" for="option_1">
		Size
		<select class="paypal-select" name="os1">
			<option value="Small">Small</option>
			<option value="Medium">Medium</option>
			<option value="Large">Large</option>
		</select>
		<input type="hidden" name="on1" value="Size">
	</label>
</p>